<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drug Use by User Input</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script type="application/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script type="application/javascript" src="/js/canvasjs-3/jquery.canvasjs.min.js"></script>
</head>

<body style="background-color: lightgrey">
    <div class="off-canvas-wrapper">
        <div class="title-bar show-for-medium" style="background-color: #252627;">
            <div class="title-bar-left show-for-medium" style="text-align: center; background-color: #252627;">
                <button class="button" type="button" data-toggle="offCanvasLeft" style="float: left;">
                    <span aria-hidden="true" style="color: white; font-size: 1.5rem;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 2.75rem; display: inline-block; margin: auto; width: auto;">Drug Use by User Input</h1>
            </div>
        </div>

        <div class="title-bar show-for-small-only">
            <div class="title-bar-top show-for-small-only" style="text-align: center; display: block; margin: auto;">
                <button class="button" type="button" data-toggle="offCanvasTop"
                    style="margin: auto; display: block; width: auto;">
                    <span aria-hidden="true" style="color: white; font-size: 1.5rem;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 2.75rem; display: block; margin: auto; width: auto;">Drug Use by Input</h1>
            </div>
        </div>
    </div>
    <div class="off-canvas-wrapper">
        <div class="off-canvas position-left show-for-medium" id="offCanvasLeft" data-transition="overlap"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="vertical menu">
                <li><a href="/">Home</a></li>
                <li><a href="/drug-age/12">Drug Use by Age</a></li>
                <li><a href="/drug-frequency/alcohol/use">Drug use by Frequency</a></li>
                <li><a href="/input/alcohol/0/0">Drug Usuage By Input</a></li>
            </ul>
        </div>

        <div class="off-canvas position-top show-for-small-only" id="offCanvasTop" data-transition="push"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="horizontal menu">
                <li><a href="/">Home</a></li>
                <li><a href="/drug-age/12">Drug Use by Age</a></li>
                <li><a href="/drug-frequency/alcohol/use">Drug use by Frequency</a></li>
                <li><a href="/input/alcohol/0/0">Drug Usuage By Input</a></li>
            </ul>
        </div>
    </div>

    <div class="off-canvas-wrapper">
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- previous/next buttons -->
            <div id="nav-buttons">
                <button id="previous-button" type="button" style="border: 2px solid black; float: left; margin-left: 20px; margin-top: 20px; padding: 5px; font-weight: bold; background-color: #b3b3b3;" onclick="navButtons('previous')">Previous</button>
                <button id="next-button" type="button" style="border: 2px solid black; float: right; margin-right: 20px; margin-top: 20px; padding: 5px; font-weight: bold; background-color: #b3b3b3;" onclick="navButtons('next')" hidden>Next</button>
            </div>

            <br/><br/><br/>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-auto" style="background-color: #BFB48F; text-align: center; border:3px solid #252627; ">
                     <h3 style="margin-bottom: 2px;">Instructions:</h3>
                    <p>    In the dropbox choose a drug that you would like to collect data on. <br/>
                        In the first text box type how much <br/>
                        In the second text box

                    </p>
                    
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell small-9" style="background-color: #BFB48F;">
                    Select a drug that you would like to see data on:
                    </div>
                    <div class="cell small-3" style="background-color: #BFB48F;">
                        <select name="Drug Options" id="drugs_dropdown" style="text-align:center" value="%%DRUG_INPUT%%">
                            <option value="alcohol" %%alcohol_SELECTED%%>Alcohol</option>
                            <option value="marijuana" %%marijuana_SELECTED%%>Marijuana</option>
                            <option value="cocaine" %%cocaine_SELECTED%%>Cocaine</option>
                            <option value="crack" %%crack_SELECTED%%>Crack</option>
                            <option value="heroin" %%heroin_SELECTED%%>Heroin</option>
                            <option value="hallucinogen" %%hallucinogen_SELECTED%%>Hallucinogen</option>
                            <option value="inhalant" %%inhalant_SELECTED%%>Inhalant</option>
                            <option value="pain_releiver" %%pain_releiver_SELECTED%%>Pain Relievers</option>
                            <option value="oxycontin" %%oxycontin_SELECTED%%>Oxycontin</option>
                            <option value="tranquilizer" %%tranquilizer_SELECTED%%>Tranquilizer</option>
                            <option value="stimulant" %%stimulant_SELECTED%%>Stimulant</option>
                            <option value="meth" %%meth_SELECTED%%>Meth</option>
                            <option value="sedative" %%sedative_SELECTED%%>Sedatives</option>
                          </select>
                    </div>
                    <div class="cell small-9 " style="background-color: #BFB48F;">Select a desired minimum percentage of those in an age group who used alcohol in the past 12 months</div>
                    <div class="cell small-3 " style="background-color: #BFB48F;">
                        <input type="text" id="use_text" value="%%USE_INPUT%%" style="text-align:center">
                    </div>
                    <div class="cell small-9 " style="background-color: #BFB48F;">Select a desired minimum number of times the median user in an age group used your desired drug in the past 12 months</div>
                    <div class="cell small-3" style="background-color: #BFB48F;">
                        <input type="text" id="frequency_text" value="%%FREQ_INPUT%%" style="text-align:center">
                    </div>
                    <div class="cell small-10 " style="background-color: #BFB48F;"></div>
                    <div class="cell small-2" style="background-color: #BFB48F;">
                        <input type="submit" id="submit-input" onclick="submitted()" style="margin-bottom: 10px;">
                    </div>
                    <script>
                        function submitted(){
                            let drug_type = document.getElementById('drugs_dropdown').value;
                            let use = document.getElementById('use_text').value;
                            let freq = document.getElementById('frequency_text').value;
                            window.location.href = '/input/' + drug_type + '/' + use + '/' + freq;
                        }
                    </script>
                </div>
                <table style="text-align:center; "><!--%%DISPLAYNONE%%-->
                    <thead>
                        <tr>
                            <th style="text-align: center">Age Group</th>
                            <th style="text-align: center">Participants Surveyed</th>
                            <th style="text-align: center">%%DRUG%% Usage Percentage</th>
                            <th style="text-align: center">%%DRUG%% Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        %%DRUG_DATA%%
                    </tbody>
                </table>
                <script>
                    //%%ALERT_FLAG%%
                </script>
                <p style="display:none;"> 
                    

                </p>
                
                
            </div>

            <div id="chartContainer" style="height: 500px; width: 50%; margin: auto;">
                <canvas id="chart" style="width:400px;"></canvas>
            </div>
            <!-- do we want to display the info with something other than graphs also?? -->
        </div>
    </div>



</body>

<script src="/js/vendor.js"></script>
<script src="/js/foundation.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>

<script>

    //controlls the navigation buttons
    function navButtons(direction) {
        var currentUrl = $(location).attr('href');
        if (currentUrl.includes('drug-age')) { //if on drug-age, only have a next button.
            location.replace('/drug-frequency/alcohol/use');
        } else if (currentUrl.includes('drug-frequency')) { //if on drug-frequency, have previous and next button.
            if (direction === 'previous') {
                location.replace('/drug-age/12');
            } else if (direction === 'next') {
                location.replace('/input/alcohol/0/0');
            }
        } else if (currentUrl.includes('input')) { //if on drug-input, only have a previous button.
            if (direction === 'previous') {
                location.replace('/drug-frequency/alcohol/use');
            }
        }
    };




</script>

</html>