<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drug Use by Age</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script type="application/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script type="application/javascript" src="/js/canvasjs-3/jquery.canvasjs.min.js"></script> 
    <!-- <script type="application/javascript" src="/js/canvasjs-3/canvasjs.min.js"></script> -->
</head>

<body style="background-color: lightgrey">
    <div class="off-canvas-wrapper">
        <div class="title-bar show-for-medium" style="background-color: #252627;">
            <div class="title-bar-left show-for-medium" style="text-align: center; background-color: #252627;">
                <button class="button" type="button" data-toggle="offCanvasLeft" style="float: left;">
                    <span aria-hidden="true" style="color: white; font-size: 1.5rem;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 2.75rem; display: inline-block; margin: auto; width: auto;">Drug Use by Age</h1>
            </div>
        </div>

        <div class="title-bar show-for-small-only">
            <div class="title-bar-top show-for-small-only" style="text-align: center; display: block; margin: auto;">
                <button class="button" type="button" data-toggle="offCanvasTop" style="margin: auto; display: block; width: auto;">
                    <span aria-hidden="true" style="color: white;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 2.75rem; display: block; margin: auto; width: auto;">Drug Use by Age</h1>
            </div>
        </div>
    </div>
    <div class="off-canvas-wrapper">
        <div class="off-canvas position-left show-for-medium" id="offCanvasLeft" data-transition="overlap"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="vertical menu">
                <li><a href="/">Home</a></li>
                <li><a href="/drug-age/12">Drug Use by Age</a></li>
                <li><a href="/drug-frequency/0">Drug use by Frequency</a></li>
                <li><a href="/input/alcohol/0/0">Drug use by User Input</a></li>
            </ul>
        </div>

        <div class="off-canvas position-top show-for-small-only" id="offCanvasTop" data-transition="push"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="horizontal menu">
                <li><a href="/">Home</a></li>
                <li><a href="/drug-age/12">Drug Use by Age</a></li>
                <li><a href="/drug-frequency/0">Drug use by Frequency</a></li>
                <li><a href="/input/alcohol/0/0">Drug use by User Input</a></li>
            </ul>
        </div>
    </div>

    <div class="off-canvas-wrapper">
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- previous/next buttons -->
            <div id="nav-buttons">
                <button id="previous-button" type="button" style="border: 2px solid black; float: left; margin-left: 20px; margin-top: 20px; padding: 5px; font-weight: bold; background-color: #b3b3b3;" onclick="navButtons('previous')" hidden>Previous</button>
                <button id="next-button" type="button" style="border: 2px solid black; float: right; margin-right: 20px; margin-top: 20px; padding: 5px; font-weight: bold; background-color: #b3b3b3;" onclick="navButtons('next')">Next</button>
            </div>
            <br /><br /><br />
            <!-- Age input drop-down option list -->
            <div id="user-age-input-container"
                style="margin: auto; width: auto; display: flex; justify-content: center;">
                <p>Select an age to see details:</p> &nbsp; &nbsp;
                <select name="age" id="age-input-dropdown" style="width: 130px;" onchange="getDrugUseByAge()" required>
                    <option value="12" selected>12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22-23</option>
                    <option value="24">24-25</option>
                    <option value="26">26-29</option>
                    <option value="30">30-34</option>
                    <option value="35">35-49</option>
                    <option value="50">50-64</option>
                    <option value="65">65+</option>
                </select>
            </div>

            <!-- Chart -->
            <div id="chartContainer" style="height: 500px; width: 90%; margin: auto;"></div> 

            <!-- Instructions container -->
            <div style="width: 75%; margin: auto; margin-top: 10px; text-align: center; border: 1px solid black;">
                <h1 style="font-size: 20px; font-weight: bold;">Instructions:</h1>
                <p>Select an age/age group from the dropdown menu to see that age's drug usage data.</p>
                <p>Highlight a section in the chart to zoom in on those specific values. When done, click the reset button at the top right to go back to the original graph.</p>

            </div>

        </div>
    </div>


</body>

<script src="/js/vendor.js"></script>
<script src="/js/foundation.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>

<script>

    var chart = new CanvasJS.Chart('chartContainer', {
        zoomEnabled: true,
        panEnabled: true,
        title: {
            text: 'Drug Use by Age'
        },
        subtitles: [{
            text: 'Sample size: %%SUBTITLE%%'
        }],
        axisY: {
            title: 'Percent of Age Group'
        },
        axisX: {
            title: 'Drug'
        },
        data: [{
            dataPoints: []
        }]
    });

    let arr = "%%DATAARRAY%%";
    let chartArr = [];
    let i;
    for (i = 0; i < arr.length; i++) {
        if (i == 0) {
            chartArr[i] = { y: arr[i], label: "# people" };
        } else if (i == 1) {
            chartArr[i] = { y: arr[i], label: "alcohol" };
        } else if (i == 2) {
            chartArr[i] = { y: arr[i], label: "marijuana" };
        } else if (i == 3) {
            chartArr[i] = { y: arr[i], label: "cocaine" };
        } else if (i == 4) {
            chartArr[i] = { y: arr[i], label: "crack" };
        } else if (i == 5) {
            chartArr[i] = { y: arr[i], label: "heroin" };
        } else if (i == 6) {
            chartArr[i] = { y: arr[i], label: "hallucinogen" };
        } else if (i == 7) {
            chartArr[i] = { y: arr[i], label: "inhalant" };
        } else if (i == 8) {
            chartArr[i] = { y: arr[i], label: "pain reliever" };
        } else if (i == 9) {
            chartArr[i] = { y: arr[i], label: "oxycontin" };
        } else if (i == 10) {
            chartArr[i] = { y: arr[i], label: "tranquilizer" };
        } else if (i == 11) {
            chartArr[i] = { y: arr[i], label: "stimulant" };
        } else if (i == 12) {
            chartArr[i] = { y: arr[i], label: "meth" };
        } else if (i == 13) {
            chartArr[i] = { y: arr[i], label: "sedative" };
        } 

        if (i == 0) { //if i = 1, then set to variable to hold total # people. else push to chart

        } else {
            chart.options.data[0].dataPoints.push(chartArr[i]); 
        }

    }
    chart.render();




    //Gets the age val from the url and parses it, sets the val to the dropdown list
    $(document).ready(() => { //REPLACE THIS WITH %%BLAH%% IN HTML AND REPLACE IT WITH THE VALUE
        let ageVal = window.location.pathname;
        let ageValInt = parseInt(ageVal.replace(/[^0-9]/g, ''));
        $('#age-input-dropdown').val(ageValInt);
    });

    //loads the page with the selected age value from the drop-down list
    function getDrugUseByAge() {
        var specifiedAge = parseInt($('#age-input-dropdown').val());
        window.open(specifiedAge, '_self');
    };

    //controlls the navigation buttons
    function navButtons(direction) {
        var currentUrl = $(location).attr('href');
        if (currentUrl.includes('drug-age')) { //if on drug-age, only have a next button.
            location.replace('/drug-frequency/0');
        } else if (currentUrl.includes('drug-frequency')) { //if on drug-frequency, have previous and next button.
            if (direction === 'previous') {
                location.replace('/drug-age/12');
            } else if (direction === 'next') {
                location.replace('/input/alcohol/0/0');
            }
        } else if (currentUrl.includes('input')) { //if on drug-input, only have a previous button.
            if (direction === 'previous') {
                location.replace('/drug-frequency/0');
            }
        }
    };



</script>

</html>