<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drug Use by Age</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script type="application/javascript" src="js/jquery-3.6.1.min.js"></script>
    <script type="application/javascript" src="js/canvasjs-3/jquery.canvasjs.min.js"></script>
</head>

<body style="background-color: lightgrey">
    <div class="off-canvas-wrapper">
        <div class="title-bar show-for-medium">
            <div class="title-bar-left show-for-medium" style="text-align: center;">
                <button class="button" type="button" data-toggle="offCanvasLeft" style="float: left;">
                    <span aria-hidden="true" style="color: white;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 1.875rem; display: inline-block; margin: auto; width: auto;">Drug Use by Age</h1>
            </div>
        </div>

        <div class="title-bar show-for-small-only">
            <div class="title-bar-top show-for-small-only" style="text-align: center; display: block; margin: auto;">
                <button class="button" type="button" data-toggle="offCanvasTop"
                    style="margin: auto; display: block; width: auto;">
                    <span aria-hidden="true" style="color: white;">Menu</span>
                </button>
                <h1 style="text-align: center; font-size: 1.875rem; display: block; margin: auto; width: auto;">Drug Use by Age</h1>
            </div>
        </div>
    </div>
    <div class="off-canvas-wrapper">
        <div class="off-canvas position-left show-for-medium" id="offCanvasLeft" data-transition="overlap"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="vertical menu">
                <li><a href="/">Home</a></li>
                <li><a href="metrics.html">Metrics</a></li>
                <li><a href="drug-age.html">Drug Use by Age</a></li>
                <li><a href="drug-frequency.html">Drug use by Frequency</a></li>
                <li><a href="drug-input.html">Drug use by User Input</a></li>
            </ul>
        </div>

        <div class="off-canvas position-top show-for-small-only" id="offCanvasTop" data-transition="push"
            data-off-canvas>
            <button class="button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="horizontal menu">
                <li><a href="/">Home</a></li>
                <li><a href="metrics.html">Metrics</a></li>
                <li><a href="drug-age.html">Drug Use by Age</a></li>
                <li><a href="drug-frequency.html">Drug use by Frequency</a></li>
                <li><a href="drug-input.html">Drug use by User Input</a></li>
            </ul>
        </div>
    </div>

    <!-- Page contents go below here: -->
    <div class="off-canvas-wrapper">
        <div class="off-canvas-content" data-off-canvas-content>
            <div id="nav-buttons">
                <button id="previous-button" type="button" style="border: 2px solid black; float: left; margin-left: 20px; margin-top: 20px; padding: 5px; font-weight: bold;" onclick="navButtons()" hidden>Previous</button>
                <button id="next-button" type="button" style="border: 2px solid black; float: right; margin-right: 20px; margin-top: 20px; padding: 5px; font-weight: bold;" onclick="navButtons()">Next</button>
            </div>
            <br/><br/><br/>
            <div id="user-age-input-container" style="margin: auto; width: auto; display: flex; justify-content: center;">
                <p>Select an age to see details:</p> &nbsp; &nbsp;
                <select name="age" id="age-input-dropdown" style="width: 130px; " required>
                    <option value="12" selected>12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22-23</option>
                    <option value="24">24-25</option>
                    <option value="26">26-29</option>
                    <option value="30">30-34</option>
                    <option value="35">35-49</option>
                    <option value="50">50-64</option>
                    <option value="65">65+</option>
                </select>
            </div>

            <!-- put the canvas for the graphs here -->
            <div id="chartContainer" style="height: 500px; width: 50%; margin: auto;">
                <canvas id="chart" style="width:400px;"></canvas>
            </div>



            <!-- do we want to display the info with something other than graphs also?? -->
        </div>
    </div>



</body>

<script src="js/vendor.js"></script>
<script src="js/foundation.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>

<script>
    /* Example of using canvasJS to make a bar chart:
    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = ["red", "green","blue","orange","brown"];

    new Chart("myChart", {
    type: "bar",
    data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
    },
    options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
    }
    });
    */

    window.onload = function () {
        var chart = new CanvasJS.Chart('chartContainer', {
            type: "bar",
            title:{
                text: 'Drug Use by Age'
            },
            data: { 
                type: 'column',
                datasets: [
                    {
                        label: "",
                        data: '', 
                        backgroundColor: '',
                        yAxisID: '',
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            id: '',
                            ticks: {
                                beginAtZero: true,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: ''
                            }
                        },
                    ]
                },
            },
        });    
        chart.render();
        
    }

    //Have our functions that get and compile the data for the selected metric, which we then use to pass into the chart via jQuery

    //creates sql query to get data for drug use by age 
    function getDrugUseByAge(){
        var specifiedAge = $('#user-input-dropdown').find(':selected').val();
        window.open('drug-age.html/?age=' + specifiedAge); //opens page with user input as url params that are passed to the query

    }

    //controlls the navigation buttons
    function navButtons(direction){
        var currentUrl = $(location).attr('href');
        if(currentUrl.includes('drug-age.html')){ //if on drug-age, only have a next button.
            window.open('drug-frequency.html');
        } else if(currentUrl.includes('drug-frequency.html')){ //if on drug-frequency, have previous and next button.
            if(direction === 'previous'){
                window.open('drug-age.html');
            } else if(direction === 'next'){
                window.open('drug-frequency.html');
            }
        } else if(currentUrl.includes('drug-input.html')){ //if on drug-input, only have a previous button.
            window.open('drug-frequency.html');
        }

    }



</script>

</html>